<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      LOGIN
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">


  <ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input [(ngModel)]="correo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="secondary" position="floating">Contraseña</ion-label>
    <ion-input [(ngModel)]="contrasena"></ion-input>
   </ion-item>
    <ion-button expand="block" (click)="LoginFirebase()">Login</ion-button>


    <!-- <main>
 
<ionic-content [fullscreen]="true">
  <ion-card *ngFor="let person of personaje">
    <img src="{{person.image}}"/>
    <ion-card-content>
      <ion-card-title>
        <h2>{{person.name}}</h2>
        <p style="text-align: center;">{{person.status}}</p>
      </ion-card-title>
      <p></p>
    </ion-card-content>
  </ion-card>
</ionic-content>

</main> -->




</ion-content>
