<ion-content [fullscreen]="true">

  <div style="background:rgb(214, 214, 214);height: 100vh;padding-top: 5%;">

    <div id="container">

      <h1>LOGIN</h1>

      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input style="width: 300px;" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input style="width: 300px;" [(ngModel)]="pass"></ion-input>
      </ion-item>
      <br>
      <ion-button style="width: 300px;" (click)="loguearse()" color="success">LOGIN</ion-button>
      <ion-button style="width: 300px;" color="primary" (click)="loguearseConGoogle()">LOGIN GOOGLE</ion-button>
      <ion-button style="width: 300px;" color="danger" (click)="loginWithMicrosoft()">LOGIN MICROSOFTH</ion-button>
      <ion-button style="width: 300px;" color="warning" [routerLink]="['/registros']"> REGISTRO </ion-button>

    </div>


  </div>

</ion-content>